:root {
  font-family: Roboto, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--p-background);
}


body {
  margin: 0;
  padding:0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin-top:6vh;
  padding:0;
  text-align: center;
  width:100%;
}

@media (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}
